- if @user_preference && @user_preference.optimizely_token
  :javascript
    Optimizely.fetcher = new Optimizely.Fetcher({
      token: '#{escape_javascript @user_preference.optimizely_token}'
    })
    Optimizely.fetcher.fetchProjects()
